@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@800;900&display=swap');


body {
    height: 100vh;
    background-color: #000708;


}

.apresentacao {
    margin: 10% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo {
    font-family: 'Cairo', sans-serif;
    font-size: 35px;
    color: #fb7602;
}

img {

    background-color: aliceblue;
    border-radius: 3%;
    width: 350px;
    height: 350px;
}

.apresentacao_texto {
    width: 615px;
    color: #c3d7f0;
    font-size: 18px;
    text-align: justify;
    font-family: 'Cairo', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 18px;

}

.links {
    font-family: 'Cairo', sans-serif;
    font-size: 22px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding: 15px;

}

.instagram {
    border: 3px solid #fb7602;
    color: #fb7602;
    background-color: black;
    border-radius: 10px;
    padding: 10px 0;
    width: 300px;
}

.whatsapp {
    border: 3px solid #fb7602;
    color: #fb7602;
    background-color: black;
    border-radius: 10px;
    padding: 10px 0;
    width: 300px;
}

.imgInstagram {
    width: 25px;
    height: 25px;
}

.imgWhatsapp {
    width: 25px;
    height: 25px;
}