body {
    height: 100vh;
    background-color: rgb(27, 52, 110);
    font-family: Arial, sans-serif;

}

.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo {
    margin-bottom: 15px;
    color: rgb(232, 231, 240);
}

.texto {
    color: rgb(232, 231, 240);

}

img {
    margin: 5%;
    background-color: aliceblue;
    border-radius: 3%;
    width: 300px;
    height: 300px;
}

.instagram {
    color: rgb(232, 231, 240);
}

.whatsapp {
    color: rgb(232, 231, 240);
}