@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@800;900&display=swap');


body {
    height: 100vh;
    background-color: rgb(27, 52, 110);
    font-family: Arial, sans-serif;

}

.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo {
    font-family: 'Cairo', sans-serif;
    font-size: 35px;
    color: rgb(232, 231, 240);
}


img {
    margin: 5%;
    background-color: aliceblue;
    border-radius: 3%;
    width: 300px;
    height: 300px;
}

.instagram {
    font-family: 'Cairo', sans-serif;
    color: rgb(232, 231, 240);
}

.whatsapp {
    font-family: 'Cairo', sans-serif;
    margin: 50px;
    color: rgb(232, 231, 240);
}

.apresentacao_texto {
    color: rgb(232, 231, 240);
    font-size: 18px;
    text-align: justify;
    font-family: 'Cairo', sans-serif;

}